/* ************** header line css ************** */

.line {
    width: 1280px;
    height: 5px;
    background-color: #c4b9b9;
    transform-origin: left;
    animation: grow 4s forwards infinite;
}

@keyframes grow {
    0% {
        transform: scaleX(0.1);
    }

    100% {
        transform: scaleX(1.2);
    }
}

/* ************** header slide css ************** */

.textmain {
    animation: text 12s linear infinite;
    transform: translateX(150px);
}

@keyframes text {
    10% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(0px);
    }
}

button span:hover {
    color: #ba933e;
    background-color: #ba933e !important;
}

.textmain1 {
    animation-delay: 0s;
}

.textmain2 {
    animation-delay: 4s;
}

.textmain3 {
    animation-delay: 8s;
}



























/* ************** card border css ************** */

.image-container {
    display: inline-block;
    position: relative;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    transition: all 0.3s ease;
}

.image-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 16px solid rgba(255, 255, 255, 0);
    transition: border-color 0.3s ease;
}

.image-container:hover::after {
    border-color: rgba(35, 33, 33, 0.267);

}

/* ************** newsletter ************** */

.newsletter {
    background-color: rgba(255, 255, 255, 0.789);
    /* background-color: rgba(35, 33, 33, 0.267); */

}


/* ************** logo css ************** */

/* @keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.logos {
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
    animation-play-state: running;
}

.logos-slide {
    display: inline-block;
    animation: 40s slide infinite linear;
}

.logos-slide img {
    height: 50px;
    margin: 0 40px;
} */

